@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<body>
    <form method="post" asp-action="Update">
        <h1>Update Your Account Here</h1>
        <div class="formcontainer">
            <hr />
            <div class="container">
                <input name="Email" placeholder="Email" type="text" />
                <input name="OldPw" placeholder="OldPw" type="password" />
                <input name="NewPw" placeholder="NewPw" type="password" />
                <button type="submit">Login</button>

            </div>          
        </div>
    </form>
</body>
